@import "./variables";

$form-text-color: #f5f6fa;

.contact {
  position: relative;
}

.contactForm {
  position: absolute;
  left: 0;
  right: 0;
  top: 42%;
  margin-left: auto;
  margin-right: auto;
  bottom: 20rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  flex-direction: column;
  color: $dark-text-color;
}

.contactForm h2 {
  font-size: 3rem;
  position: relative;
  margin-bottom: 1rem;
}

.contactForm h2 span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.3rem;
  background: #666666;
}

.contactForm p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1.1rem;
  color: $secondary;
}

form label {
  font-size: 1.3rem;
  font-weight: bold;
}

form input,
textarea {
  outline: none;
  padding: 6px 12px;
  font-size: 16px;
  background: transparent;
  margin-bottom: 0.4rem;
  color: $form-text-color;
  border: 3px solid $dark-text-color;
}

textarea {
  font-size: 12px;
  max-height: 100px;
  width: 208px;
}

textarea::-webkit-resizer {
  display: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
  background: transparent;
}

textarea::-webkit-scrollbar-thumb {
  background: #525861;
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
}

#submit {
  border: 3px solid $secondary;
  color: $secondary;
  z-index: 1;
  width: 8rem;
  height: 3rem;
  font-size: 1.3rem;
  align-self: center;
  transition: all 0.4s ease;
}

#submit:hover {
  color: #fff;
  cursor: pointer;
  transition: 0.3s all ease;
  opacity: 1;
  background: $secondary;
  transition: all 0.4s ease;
}

.starsc {
  position: relative;
  width: 100%;
  height: 83vh;
  background: radial-gradient(ellipse at top, #1b2735 0%, #000000 100%);
  overflow: hidden;
  display: flex;
}

.starsc::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 83vh;
  background: linear-gradient(to bottom, $background, transparent);
  z-index: 1;
}

@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(2000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(275);
$shadows-big: multiple-box-shadow(150);

#stars1c {
  width: 1px;
  height: 1px;
  background: transparent;
  border-radius: 50%;
  box-shadow: $shadows-small;
  animation: animStar 50s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2c {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    background: transparent;
    border-radius: 50%;
    box-shadow: $shadows-medium;
  }
}

@keyframes animStar {
  from {
    transform: translateY(-2000px);
  }
  to {
    transform: translateY(0px);
  }
}
