@import "./variables";

footer {
  color: #666;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

// .footer-content {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-direction: column;
//   text-align: center;
// }

// .socials {
//   list-style: none;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   margin: 0.5rem 0 0.5rem 0;
// }

// .socials li {
//   margin: 0 10px;
// }

// .socials a {
//   text-decoration: none;
//   color: #000;
// }

// .socials a i {
//   font-size: 1.8rem;
//   transition: color 0.4s ease;
// }

// .socials a:hover i {
//   color: $secondary;
// }

.footer-bottom {
  background: transparent;
  padding: 10px 0;
  text-align: center;
  position: absolute;
  bottom: 0;
}
