@import "./variables";

h1 {
  color: white;
  position: absolute;
  top: 20vw;
  left: 20vw;
  font-family: Lato, sans-serif;
  font-size: 6vw;
  font-weight: bold;
  z-index: 1;
  overflow: hidden;
}

h1 .hi {
  display: inline-block;
}

h1 .text {
  font-family: "Source Code Pro", sans-serif;
  font-weight: normal;
  padding-left: 1.2vw;
}

h1 .box {
  position: absolute;
  bottom: 0;
  display: inline-block;
  background: $secondary;
  opacity: 0.7;
  height: 1vw;
  z-index: -1;
}

.hero-mobile {
  z-index: 30;
  position: absolute;
  top: 10vh;
  color: white;
  //background: white;
  display: none;
}

@media screen and (max-width: 768px) {
  .about {
    h1 {
      display: none;
    }
  }
  .hero-mobile {
    display: block;
    z-index: 30;
    position: absolute;
    top: 30vh;
    left: 10vw;
    color: white;
  }
}
